:root {
    --violet:hsl(257, 40%, 49%);
    --soft-magenta:hsl(300, 69%, 71%);
}
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
}
body {
    min-height:100vh;
    background-color: var(--violet);
    background-image: url(./bg-mobile.svg);
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}
header {
    margin-block: 2rem;
    width:80%;
}
.logo {
    width:8rem;
}
h1 {
     display:none;
    }
main {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-block: 2rem;
    width: 80%;
}
img {
    display:block;
    max-width: 100%;;
}
.mockups {
   margin-block-end: 2rem;
}
h2 {
    margin-block: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}
button {
    color: var(--violet);
    background: white;
    border-radius:1.5rem ;
    width:min(70%,11rem);
    cursor: pointer;
    border: none;
    padding-block: .7rem;
    margin-block: 1rem;
    transition-duration: .2s;
}
button:hover {
    background: var(--soft-magenta);
    color:#fff;
}
main::after {
    transition-property: width;
    transition-duration: 10s;
    transition-timing-function: linear;
    height: 2px;
    width:0;
    content: "";
    background-color: var(--soft-magenta);
}
main:has(button:hover)::after {
    transition-duration: 1s;
    width:calc(100% - 2rem);
}
footer {
    margin-block: 1rem;
    display:flex;
    justify-content: center;
    width:80%;
}
a {
    margin-inline-end: 1rem;
}
a:hover {
    color:var(--soft-magenta);
}
@media screen and (min-width:600px) {
    *:not(button) {
        text-align: left;
    }
    body {
        background-image: url(bg-desktop.svg);
    }
    header {
        width:90%;
    }
    main:has(button:hover)::after {
        transition-duration: 1s;
        width:0;
    }
    .logo {
        width:9rem;
    }
    main {
        flex-direction:row;
        width:90%;
        align-items: flex-start;
    }

    h2 {
        font-size: 2rem;
    }
    .mockups {
        width:calc(50% - 1rem);
        margin-right: 1rem;
    }
    article {
        width:calc(50% - 1rem);
        margin-left: 1rem;
    }
    footer {
        justify-content: flex-end;
        width:90%;
    }
}
